*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(150, 204, 204);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    height:60vh ;
    margin-top: 60px;
    padding-bottom: 25px;

}
.game{
    height:60vmin ;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.x{
    height: 18vh;
    width: 18vh;
    border-radius: 20px;
    font-size: 9vmin;
    color: red;
    background-color: rgb(28, 179, 43);
    box-shadow: 0 0 1rem rgba(rgb(233, 80, 80), green, blue, alpha);
    cursor: pointer;
   
}
#reset-btn{
    color: rgb(233, 233, 239);
    padding: 20px;
    width: 250px;
    font-size: 25px;
    background-color: hsl(0, 4%, 10%);
   border-radius: 20px;
   border: none;
   cursor: pointer;
}
#reset-btn:hover{
    border: 5px solid green;
    background: white;
    color: black;
}
#new-btn{
    color: rgb(233, 233, 239);
    width: 250px;
    padding: 15px;
    font-size: 15px;
    background-color: hsl(0, 4%, 10%);
   border-radius: 20px;
   border: none;
   cursor: pointer;
}
h1{
    color: blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
h1:hover{
    color: red;
    
}
#msg{
    color: aliceblue;
    font-size :5vmin; ;
}
.msg-container{
    height: 15vmin;
}
.hide{
    display: none;
}
